useDynLib(signeR, .registration=TRUE)

exportClasses(SignExp)
exportMethods(setSamples, setMutations, Normalize,
    Reorder_signatures, Reorder_samples, Reorder_mutations,
    Average_sign, Median_sign, Average_exp, Median_exp,
    Paths, SignPlot, SignHeat, ExposureBoxplot,
    ExposureBarplot, ExposureHeat, 
    DiffExp, SignLRT, ExposureSurvival, ExposureSurvModel, 
    ExposureCorrelation, ExposureGLM,
    ExposureClassify, FuzzyClustExp, HClustExp)
export(genOpportunityFromGenome, genCountMatrixFromVcf, signeR, 
       BICboxplot, eBayesNMF, GibbsSamplerCpp)

import(graphics, utils, methods, future, future.apply,
       class, VGAM, glmnet, e1071, ada,
       kknn, forestplot, grid, ggplot2, pheatmap,
       scales, reshape2, RColorBrewer, dplyr)
importFrom("parallel", "detectCores", "makeCluster", "clusterExport", "parLapply", "stopCluster")
importFrom("stats", "kruskal.test", "cor.test", 'quantile', 'median', 'sd')
importFrom("MASS", "lda")
importFrom("randomForest","randomForest")
importFrom("pROC","roc")
importFrom("listenv", "listenv")
importFrom("BiocGenerics", "Reduce")
importFrom("Biostrings","getSeq", "oligonucleotideFrequency",
    "reverseComplement", "DNAString", "DNAStringSetList")
importFrom("grDevices", "colorRampPalette", "dev.cur", "dev.new", 
    "dev.off", "pdf", "png", "rainbow", "terrain.colors")
importFrom("GenomicRanges", "resize", "granges", "reduce","GRanges")
importFrom("IRanges","subsetByOverlaps")
importFrom("nloptr", "nloptr")
importFrom("NMF", "nmf", "basis", "coef")
importFrom("VariantAnnotation", "readVcf", "isSNV", "alt", "ref", "geno")
importFrom("PMCMRplus","kwAllPairsConoverTest")
importFrom("GenomeInfoDb","seqinfo")
importFrom("survival", "Surv","is.Surv","survdiff", "survfit", "coxph", "cox.zph")
importFrom("survivalAnalysis", "cox_as_data_frame")
importFrom("survminer", "ggsurvplot", "ggforest")
importFrom("maxstat", "maxstat.test")
importFrom("pvclust", "msfit")
importFrom("ppclust", "fcm", "pcm", "fpcm")
importFrom("clue", "solve_LSAP")
importFrom("grid", "unit")
importFrom("ggpubr","ggarrange")
