useDynLib(signeR, .registration=TRUE)

exportClasses(SignExp)
exportMethods(setSamples, setMutations, Normalize,
    Reorder_signatures, Reorder_samples, Reorder_mutations,
    Average_sign, Median_sign, Average_exp, Median_exp,
    Paths, SignPlot, SignHeat, ExposureBoxplot,
    ExposureBarplot, ExposureHeat, Classify, DiffExp)
export(genOpportunityFromGenome, genCountMatrixFromVcf, signeR, BICboxplot)

import(stats, graphics, utils, methods)
importFrom("BiocGenerics", "Reduce")
importFrom("Biostrings","getSeq", "oligonucleotideFrequency",
    "reverseComplement", "DNAString")
importFrom("class", "knn")
importFrom("grDevices", "colorRampPalette", "dev.cur", "dev.new", 
    "dev.off", "pdf", "png", "rainbow", "terrain.colors")
importFrom("GenomicRanges", "resize", "granges", "union", "reduce","GRanges")
importFrom("IRanges","subsetByOverlaps")
importFrom("nloptr", "nloptr")
importFrom("NMF", "nmf", "basis", "coef")
importFrom("VariantAnnotation", "readVcf", "isSNV", "alt", "ref", "geno")
importFrom("PMCMRplus","kwAllPairsConoverTest")
importFrom("GenomeInfoDb","seqinfo")
